{% extends "base.html" %}
{% block title %}Biblioteca{% endblock %}

{% block content %}
<section class="row tm-pt-4 tm-pb-6">
  <div class="col-12 tm-page-cols-container">
    <div class="tm-page-col-right">
      <h2 class="tm-text-secondary tm-mb-5">
      PostgreSQL | Base de datos Maravilla
      </h2>
      <strong>Aplicación creada por Arantxa Fernández Morató</strong>
      <br/><br/>
      <br/><br/>
      <br/><br/>
      <br/><br/>
      <main>
        <div class="circle circle-lime"></div>
        <form action="/login" method="POST">
            <h1>Login</h1>
            <div>
              <label for="username"></label>
              <input type="text" name="username" id="username" placeholder="Username (required)" autofocus required>
            </div>
             <div>
              <label for=""></label>
              <input type="password" name="password" id="password" placeholder="Password (required)" required>
            </div>
            <div class="keep-logged-in">
              <input type="checkbox" value="Go!"></input>
              <label>Keep me logged in.</label>
            </div>
          <input type="submit" value="Go!"></input>
          </form>
        <div class="circle circle-aqua"></div>
      </main>
    </div>
  </div>
</section>

{% endblock %}
